node_modules/
typings/
lib/*.js
index.js
node_modules/**/*.js
typings/**/*.js
index.js.map
lib/*.js.map
node_modules/**/*.js.map
typings/**/*.js.map
index.d.ts
lib/*.d.ts
node_modules/**/*.d.ts
typings/**/*.d.ts
.powerbirc