node_modules/chai
node_modules/.bin
node_modules/colors
node_modules/commander
node_modules/lodash
node_modules/ms-rest
node_modules/tsc
node_modules/typescript
typings/
/*.js
/*.js.map
/*.d.ts
lib/*.js
lib/*.js.map
lib/*.d.ts
.powerbirc